.searchBox {
    width: 500px;
    margin: 50px auto;
    min-height: 30px;
    text-align: center;
}
.searchBox input[type="text"] {
    padding: 8px;
    width: 500px;
    font: 100% arial;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #E5E5DB;
    background: #FFF;
    color: #47433F;
}
.searchBox input[type="text"]:hover {
    border: 1px solid #cccccc;
}
.searchBox input[type="text"]:focus {
    outline: none;
}
.searchBox input[type="submit"],
.searchBox a {
    cursor: pointer;
    border: 0;
    padding: 10px 20px 10px 20px;
    font-size: 11px;
    color: #555555;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #dbdbdb;
    background: rgb(255, 255, 255);
    background: url(data:image/svg+xml;
 base64, PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(229, 229, 229) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 255, 255)), color-stop(100%, rgb(229, 229, 229)));
    background: -webkit-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(229, 229, 229) 100%);
    background: -o-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(229, 229, 229) 100%);
    background: -ms-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(229, 229, 229) 100%);
    background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(229, 229, 229) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0);
    margin: 10px;
}
.searchBox input[type="submit"]:hover,
.searchBox a:hover {
    background: rgb(255, 255, 255);
    background: url(data:image/svg+xml;
 base64, PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(229, 229, 229) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 255, 255)), color-stop(100%, rgb(229, 229, 229)));
    background: -webkit-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(229, 229, 229) 100%);
    background: -o-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(229, 229, 229) 100%);
    background: -ms-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(229, 229, 229) 100%);
    background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(229, 229, 229) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0);
    -webkit-box-shadow: 0px 2px 4px rgba(50, 50, 50, 0.49);
    -moz-box-shadow: 0px 2px 4px rgba(50, 50, 50, 0.49);
    box-shadow: 0px 2px 4px rgba(50, 50, 50, 0.49);
}
.g_search_box {
    background: url("data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw%3D%3D");
    margin: 0px;
    padding: 0px 1px;
    border: currentColor;
    border-image: none;
    left: 0px;
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 6;
}